<p>Title: Account submission screen</p>
<form [formGroup]="accountsForm" (ngSubmit)="onSubmit()">
    <div formArrayName="accounts">
        <h3>Accounts to be excluded</h3>
        <div *ngFor="let account of accounts.controls; let i=index">
            <!-- The repeated alias template -->
            <label>
                Account:
                
                    <input type="text" [formControlName]="i" minlength="9" maxlength="20" required="true" class="p-3 mb-2 bg-primary text-white">
                
            </label>
        </div>
    </div>
    <button (click)="addAccounts()">Add Account</button>
    <p>
        <button type="submit" [disabled]="!accountsForm.valid" class="btn btn-outline-warning">Submit</button>
    </p>
</form>

<p>
    Form Value: {{ accountsForm.value | json }}
</p>


<p>
    Form Status: {{ accountsForm.status }}
</p>
<div class="alert alert-danger" [hidden]="!accountsForm.status">
    Account number must have 9 to 20 characters.
</div>