<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/approval" routerLinkActive="active-link">Approve</a>
            <a class="nav-item nav-link" routerLink="/requests" routerLinkActive="active-link">View all requests</a>
            <a class="nav-item nav-link" routerLink="/batchrun" routerLinkActive="active-link">Batch run</a>
            <!--
    <form class="form-inline my-2 my-lg-0">
        <input #myInput class="form-control mr-sm-2" type="search" placeholder="Search by account number"
            aria-label="Search" (keyup.enter)="doSearch(myInput.value)">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
            (click)="doSearch(myInput.value)">Search</button>
    </form>
     -->
            <form class="form-inline" role="form" (submit)="logout()">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>
</nav>