<app-admin></app-admin>
<!-- if there is exclusion request then display a message -->
<div *ngIf="exclusionRequests?.length == 0" class="alert alert-warning col-md-12" role="alert">
    There is no pending request.
</div>
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form role="form" (submit)="submitForApproval()">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Submitted Date</th>
                            <th>Submitted By</th>
                            <th>Account Number</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let eachExclusionRequest of exclusionRequests">
                        <tr>
                            <td>{{ eachExclusionRequest.submittedDate  }}</td>
                            <td>{{ eachExclusionRequest.submittedBy  }}</td>
                            <td>{{ eachExclusionRequest.accountNumber  }}</td>
                            <div *ngIf="role == 'Admin'">
                                <td>
                                    <div><button class="btn btn-success"
                                            (click)="addToApproval(eachExclusionRequest,'APPROVE')">Approve</button>
                                    </div>
                                </td>
                                <td>
                                    <div><button class="btn btn-danger"
                                            (click)="addToApproval(eachExclusionRequest,'REJECT')">Reject</button>
                                    </div>
                                </td>
                            </div>
                            <div *ngIf="role == 'User'">
                                <td>
                                    <div><button class="btn btn-warning"
                                            (click)="addToApproval(eachExclusionRequest,'CANCEL')">Cancel</button>
                                    </div>
                                </td>
                                <td></td>
                            </div>
                        </tr>
                    </ng-container>

                </table>
                <p>
                    <button [disabled]="requestMap.size == 0" class="btn btn-outline-warning">Submit</button>
                </p>
                <div *ngIf="submissionResult!=''" class="alert alert-warning col-md-12" role="alert">
                    {{submissionResult}}
                </div>
            </form>
        </div>


        <div class="footer-pagination">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-9" style="padding-left: 30%">
                            <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements" [maxSize]="5"
                                (pageChange)="handlePendingRequestList()">

                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>